
// le bouton de la page d'accueil
.explore-button {
    display: block;
    margin: 40px auto 0 auto;
    background: linear-gradient(#9356DC, #FF79DA);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;

    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

//   le bouton de la page de menu

.btn-order {
    display: block;
    margin: 40px auto 0 auto;
    background: linear-gradient(#9356DC, #FF79DA);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }