.explore-button {
    padding: 10px 20px;
    background: linear-gradient(90deg, #9356DC, #FF79DA);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    transition: background 0.3s ease;
}

.explore-button:hover {
    background: linear-gradient(90deg, #FF79DA, #9356DC);
}