
// le bouton de la page d'accueil et menu 

.btn-order {
    display: block;
    margin: 40px auto 0 auto;
background: linear-gradient($secondary-color, $primary-color);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;


    &:hover {
      filter: brightness(1.1); //éclaircissement de 10%
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }