/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Police globale */
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; // base mobile
    background-color: #fff;
    color: #000;
  }
  
// couleur
$primary-color: #9356DC;
$secondary-color: #FF79DA;


