.fonctionnement {
    background-color: #fff;
    padding: 30px 20px;

    .fonctionnement-inner {
      max-width: 1080px;
      margin: 0 auto;
    }
  
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .card-fonctionne {
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      .step {
        position: relative;
        display: flex;
        align-items: center;
        height: 72px;
        background-color: #f6f6f6;
        border-radius: 20px;
        padding-left: 50px;
        font-weight: 500;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.18);
        transition: background-color 0.3s ease;
        &:hover {
          i {
            color: #9356dc;
          }
        }
        i {
          margin-right: 20px;
          color: #7e7e7e;
          font-size: 20px;
          transition: color 0.3s ease;
        }
  
        p {
          margin: 0;
        }
  
        .step-number {
          position: absolute;
          left: -10px;
          top: 50%;
          transform: translateY(-50%);
          background-color: #9356dc;
          color: white;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
// version descktop 

  @media (min-width: 1024px) {
    .fonctionnement {
      padding: 50px 80px;

  
      h2 {
        text-align: left;
      }
  
      .card-fonctionne {
        flex-direction: row; // au lieu de column
        justify-content: space-between;
        gap: 40px;
      }
  
      .step {
        flex: 1;
      }
    }
  }
  // version tablette 

  @media (min-width: 768px) and (max-width: 1023px) {
    .fonctionnement {
      max-width: 620px;
      margin: 0 auto;
      padding: 40px 20px;
    }
    .fonctionnement .card-fonctionne {
      gap: 30px;
    }
  }
  