// ----------------------------
// TITRE PRINCIPAL
// ----------------------------
h1 {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    margin: 20px 0;
  }
  
  // ----------------------------
  // IMAGE DE COUVERTURE
  // ----------------------------
  .cover {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }